:root {
  color-scheme: light dark;
}

/* Styles du body */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* Liens par défaut */
a {
  color: var(--color-primary);
  text-decoration: none;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}
